<div id="graph-component">
    <h2>Knowledge Graph</h2>
    <v-checkbox
            style="postion: fixed"
            color="grey lighten-1"
            v-model="allCollapsed"
            label="collapse all"
            @click="toggle()">
    </v-checkbox>
    <v-card class="white">
        <div id="d3-graph" style="width: 100%; height: 800px;">
            <vertex-tooltip
                    class="node-tooltip"
                    v-bind:class="{ invisible: tooltipVertex===null }"
                    v-on:closeTooltip="selectedVertex = null"
                    v-on:showDialog="showDialog"
                    :selectedVertex="tooltipVertex"
                    id="nodeTooltip">
            </vertex-tooltip>
            <edge-tooltip
                    class="edge-tooltip"
                    v-bind:class="{ invisible: activeEdge===null }"
                    :selectedEdge="activeEdge"
                    id="edgeTooltip">
            </edge-tooltip>
        </div>
    </v-card>
    <v-dialog v-model="dialog" v-if="dialog === 'project'">
        <project-dialog
                v-on:success="success"
                v-on:cancel="cancel"
                v-bind:projectId="selectedVertex.self.id">
        </project-dialog>
    </v-dialog>
    <v-dialog v-model="dialog" v-if="dialog === 'execution'">
        <execution-dialog
                v-on:success="success"
                v-on:cancel="cancel"
                v-bind:contextUUID="selectedVertex.self.UUID">
        </execution-dialog>
    </v-dialog>
    <v-dialog v-model="dialog" v-if="dialog === 'bucket'">
        <bucket-dialog
                v-on:success="success"
                v-on:cancel="cancel"
                v-bind:bucketId="selectedVertex.self.id">
        </bucket-dialog>
    </v-dialog>
    <v-dialog v-model="dialog" v-if="dialog === 'version'">
        <version-dialog
                v-on:success="success"
                v-on:cancel="cancel"
                v-bind:selectedFileId="selectedVertex.self.id">
        </version-dialog>
    </v-dialog>
</div>

