.error {
  background-image: url("/src/styles/assets/error-background@0.50x.png");
  background-position: center;
  background-size: cover;
  color: var(--bs-rk-pink);
  height: calc(100vh);
  overflow: auto;
  width: calc(100vw);

  @media (min-width: 1500px) {
    background-image: url("/src/styles/assets/error-background@1.00x.png");
  }
}
