.error {
  background-position: center;
  background-size: cover;
  height: calc(100vh);
  background-image: url("/src/styles/assets/error-background@0.50x.png");
  color: var(--bs-rk-pink);
  overflow: auto;
  width: 100%;

  @media (min-width: 1500px) {
    background-image: url("/src/styles/assets/error-background@1.00x.png");
  }
}

.errorTitle {
  background-color: rgba(var(--bs-rk-blue-rgb), 0.7);
  padding: 20px;
  max-width: 700px;
}

.errorMain {
  color: var(--bs-body-color);
  background-color: rgba(var(--bs-rk-white-rgb), 0.85);
}
