.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px; /* Margin bottom by footer height */
}
.footer {
  /* position: absolute; to fix later */
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

/* Component classes */
.time-caption {
  color: #AAA;
  font-size: smaller;
}

.caption {
  color: #AAA;
}

.children-no-spacing * {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.comment-block {
  display: inline
}

.expanded-reference {
  border: 1px solid #AAA;
  border-radius: 15px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.notebook-comparison {
  border: 1px solid #DDD;
  border-radius: 15px;
  padding: 10px;
  margin-left: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.image-preview {
  max-width: 100%;
}

.text-link {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
  color: blue;
  cursor: pointer;
  outline: none;
}

.text-link input[type="button"]:focus {
  outline: none;
}

/* TODO: Try to replace css tooltip by reactstraps tooltip component */
.simple-tooltip {
  position: relative;
  display: inline-block;
  color: #DD0000;
}

.simple-tooltip .tooltiptext {
  visibility: hidden;
  background-color: #CCC;
  width: 260px;
  color: #000000;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.simple-tooltip:hover .tooltiptext {
  visibility: visible;
}

.deployButton {
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bouncer {
  text-align: center;
  margin: 50px auto 25px auto;
}

.bouncer span {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin: 5px;
  background: #01192D;
  border-radius: 50px;
  animation: bouncer 0.9s infinite alternate;
}

.bouncer span:nth-of-type(2) {
  animation-delay: 0.25s;
}

.bouncer span:nth-of-type(3) {
  animation-delay: 0.5s;
}

@keyframes bouncer {
  0%, 50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.6;
    transform: translateY(-21px);
  }
}

.delay1s {
  visibility: hidden;
  opacity: 0;
  animation: delay1s 2s forwards;
}

@keyframes delay1s {
  0%, 50% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.renku-markdown code {
  padding: .2em .4em;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.renku-markdown pre {
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 0.04);
}

.renku-markdown pre>code {
  padding: 0;
  font-size: 100%;
  white-space: pre;
  background: transparent;
}

.renku-markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.mw-0 {
  min-width: 0;
}

.limit-width {
  max-width: 1140px;
}


.visually-hidden {
    position: absolute;
    left: -100vw;
}

.hide-show-me {
  display: none;
}
.fake-toggle:checked ~ .hide-show-me {
  display: block;
}

iframe.invisible {
  height: 0;
  width: 0;
}
