/* Component classes */
.time-caption {
  color: var(--bs-dark);
  font-size: small;
}

.caption {
  color: #aaa;
}

.children-no-spacing * {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.image-preview {
  max-width: 100%;
}

.bouncer {
  text-align: center;
  margin: 50px auto 25px auto;
}

.bouncer span {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin: 5px;
  background: #01192d;
  border-radius: 50px;
  animation: bouncer 0.9s infinite alternate;
}

.bouncer span:nth-of-type(2) {
  animation-delay: 0.25s;
}

.bouncer span:nth-of-type(3) {
  animation-delay: 0.5s;
}

@keyframes bouncer {
  0%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.6;
    transform: translateY(-21px);
  }
}

.renku-markdown code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.renku-markdown pre {
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 0.04);
}

.renku-markdown pre > code {
  padding: 0;
  font-size: 100%;
  white-space: pre;
  background: transparent;
}

.renku-markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
}

.hide-show-me {
  display: none;
}
.fake-toggle:checked ~ .hide-show-me {
  display: block;
}

iframe.invisible {
  height: 0;
  width: 0;
}

.word-break-normal {
  word-break: normal !important;
}
