<div>
    <v-menu
        offset-x
        :nudge-width="200"
        v-model="menu"
        v-if="user.user !== ''"
      >
        <v-btn class="indigo" dark slot="activator" v-if="value !== null" >Project: {{ value.name }}</v-btn>
        <v-btn class="indigo" dark slot="activator" v-else >Select a project</v-btn>
        <v-list>
            <v-list-tile v-for="item in projects" :key="item.id" @click="clickItem(item)">
                <v-list-tile-title>{{ item.name }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click.native.stop="projectDialog = true">
                <v-list-tile-title>New project...</v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-menu>
    <v-dialog v-model="projectDialog">
      <v-card>
        <v-card-title>
          <span class="headline">Create a new project</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name" required v-model="project_name"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="teal--text darken-1" flat @click.native="projectDialog = false">Cancel</v-btn>
          <v-btn class="teal--text darken-1" flat @click.native="addProject($event)">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</div>