/* Prevent overwriting defaults: https://fkhadra.github.io/react-toastify/how-to-style */
.Toastify__toast {
  font-family: inherit !important;
  cursor: inherit !important;
}

.Toastify__toast--default {
  color: inherit !important;
}

.Toastify__toast-container {
  color: inherit !important;
}


/* Customization */

.Toastify__toast {
  opacity: 0.90;
}

.Toastify__toast.success {
  border: 1px solid #28a745 /* #5561A6 */
}
.Toastify__toast.success .Toastify__progress-bar {
  background: #28a745;
}
.Toastify__toast.success svg.svg-inline--fa {
  color: #28a745
}

.Toastify__toast.warning {
  border: 1px solid #ffc107
}
.Toastify__toast.warning .Toastify__progress-bar {
  background: #ffc107;
}
.Toastify__toast.warning svg.svg-inline--fa {
  color: #ffc107
}

.Toastify__toast.error {
  border: 1px solid #dc3545
}
.Toastify__toast.error .Toastify__progress-bar {
  background: #dc3545;
}
.Toastify__toast.error svg.svg-inline--fa {
  color: #dc3545
}


/* Menu components */

.notification-badge {
  font-size: 10px;
  position: absolute;
}

.notification-list-container {
  padding: 4px;
}

.notification-list-container .notification-list-item {
  margin-bottom: 8px !important;
}
.notification-list-container .notification-list-item:last-of-type {
  margin-bottom: 0 !important;
}

.notification-list-container .font16 {
  font-size: 16px;
}
