.background {
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
}

.alertBox {
  max-width: 100%;
}

@media (min-width: 768px) {
  .alertBox {
    max-width: 768px;
  }
}
