@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
.HeaderContainer {
  background-color: var(--bs-white);
}
.NavContainer {
  background-color: var(--bs-gray-200);
}
@include media-breakpoint-up(lg) {
  .HeaderContainer {
    background-color: transparent;
  }
  .NavContainer {
    background-color: transparent;
  }
}
