.projectStatusSection {
  display: flex;
  padding: 1rem 0;
}

.projectStatusDetailsSection {
  padding: 1rem 0 1rem 1rem;
  border-bottom: black 1px dashed;

  &:first-child {
    border-top: black 1px dashed;
  }
}
