@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

.templateSlideContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.templateSliderImages {
  img {
    width: 540px;
    height: 313px;
    @include media-breakpoint-down(lg) {
      width: 100%;
      height: auto;
    }
  }
}

.templateSliderBtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  position: absolute;
  bottom: -30px;
  img {
    cursor: pointer;
  }
}
