<div>
    <v-toolbar v-if="raw_user.logged_in" flat class="accent">
        <v-list class="pa-0 transparent">
            <v-list-tile avatar tag="div">
                <v-list-tile-avatar>
                    <img v-bind:src="raw_user._user.picture" />
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title class="white--text">{{ raw_user._user.name }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-toolbar>

    <v-toolbar v-else flat class="accent">
        <v-list class="pa-0 transparent">
            <v-list-tile avatar tag="div">
                <v-list-tile-content>
                    <v-list-tile-title class="white--text">Welcome</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-toolbar>

    <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" v-on:click="clickItem(item.path, $event)">
            <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>

</div>