<div>
    <h1 class="mdc-theme--text-primary-on-background mdc-typography--display3"><slot name="title">Item list</slot></h1>
    <v-layout row wrap>
        <v-flex xs12>
            <v-list two-line>
              <v-list-tile avatar v-for="item in item_list.list" v-bind:key="item.id" v-bind:to="url_details.replace('[ID]', item.id)">
                <v-list-tile-avatar>
                    <v-icon>{{ icon }}</v-icon>
                </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                        <v-list-tile-sub-title>{{ item.description }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                      <v-btn icon ripple v-on:click.native.stop.prevent="itemSelect(item, $event)">
                        <v-icon class="grey--text text--lighten-1">info</v-icon>
                      </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </v-flex>
    </v-layout>
    <v-navigation-drawer right temporary v-model="detailsPanel" overflow>
        <div v-if="item_list.selected !== null">
            <v-subheader inset><slot name="panel">Item details</slot></v-subheader>
            <v-list two-line>
                <v-list-tile v-for="item in item_list.selected.properties" v-bind:key="item.key">
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.key }}</v-list-tile-title>
                        <v-list-tile-sub-title>{{ item.value }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </div>
        <div v-else>
            Nothing selected
        </div>
    </v-navigation-drawer>
</div>