<div>
    <h2><slot name="title">Item list</slot></h2>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    <template>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="item_list.list"
        v-bind:search="search"
        dark
      >
      <template slot="items" scope="props">
        <tr v-on:click="$emit('selected', props.item.id)" style="cursor: pointer;">
          <td>{{ props.item.id }}</td>
          <td class="text-xs-right">{{ props.item.name }}</td>
          <td class="text-xs-right" v-for="p in props.item.properties" v-bind:key="p.key">{{ p.value }}</td>
        </tr>
      </template>
      <template slot="pageText" scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
    </template>
</div>