.not-found-box {
    background-position: center;
    background-size: cover;
    /* calc 100vh - footer height - header height */
    height: calc(100vh - 75px - 70px);
    background-image: url("../styles/assets/404@0.25x.png");
    color: var(--bs-rk-pink);
    overflow: auto;
}

.not-found-box-text {
    padding: 20px;
    background-color: #01192db3;
}
.not-found-box-text:first-of-type {
    padding: 20px;
    max-width: 700px;
}

.not-found-box .title {
    font-weight: bold;
    font-size: xxx-large;
}

.not-found-box .subtitle {
    font-size: xx-large;
    margin-bottom: 20px;
}

.not-found-box p {
    font-size: x-large;
    line-height: 1.2;
    word-break: break-all;
}

.not-found-box ul {
    font-size: large;
}

@media (min-width: 1024px) {
    .not-found-box-text {
        margin: 0 50px;
    }
}

@media (min-width: 1500px) {
    .not-found-box {
        background-image: url("../styles/assets/404@0.5x.png");
    }
}

@media (min-width: 2200px) {
    .not-found-box {
        background-image: url("../styles/assets/404@0.75x.png");
        padding: 0 4rem;
    }
}


