.control {
  cursor: pointer !important;
}

.option {
  cursor: pointer !important;

  &:hover,
  &IsFocused {
    background-color: #e4e7ea;
  }

  &IsSelected {
    background-color: #e4e7ea80;
  }
}
