.searchBarSuggestionsContainer {
  position: absolute;
  top: 100%;
  z-index: 100;
  left: 0px;
  right: auto;
  display: block;
  background-color: #fff;   
  min-width: 300px;
}

.searchBarSuggestionsContainer > div {
  min-width: 300px;
}

/* // all this should go to a new file in the scss folders */
.react-autosuggest__suggestion > div{
  margin-left:1rem;
  margin-right:1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25;
  border-bottom: 0px !important;
  font-size: 0.875rem;
  padding: 0px;
}
