.arrow-right {
  width: 1em;
  height: 0.8em;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.157' height='12.232' viewBox='0 0 8.157 12.232'%3E%3Cg id='Group_13150' data-name='Group 13150' transform='translate(-1768.922 3036.348)'%3E%3Cg id='Group_13126' data-name='Group 13126' transform='translate(577.519 -2034.265) rotate(-90)'%3E%3Cpath id='Path_285' data-name='Path 285' d='M993.93,1193.442a2.039,2.039,0,1,1-2.039-2.039,2.04,2.04,0,0,1,2.039,2.039' transform='translate(0)' fill='%23fff'/%3E%3Cpath id='Path_286' data-name='Path 286' d='M1007.46,1193.442a2.039,2.039,0,1,1-2.039-2.039,2.04,2.04,0,0,1,2.039,2.039' transform='translate(-5.376)' fill='%23fff'/%3E%3Cpath id='Path_287' data-name='Path 287' d='M1000.695,1200.21a2.039,2.039,0,1,1-2.039-2.039,2.039,2.039,0,0,1,2.039,2.039' transform='translate(-2.688 -2.689)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position-y: bottom;
}

.arrow-left {
  width: 1em;
  height: 0.8em;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.157' height='12.232' viewBox='0 0 8.157 12.232'%3E%3Cg id='Group_13149' data-name='Group 13149' transform='translate(-1743.922 3036.348)'%3E%3Cg id='Group_13125' data-name='Group 13125'%3E%3Cg id='Group_13124' data-name='Group 13124' transform='translate(2943.482 -4026.199) rotate(90)'%3E%3Cpath id='Path_285' data-name='Path 285' d='M993.93,1193.442a2.039,2.039,0,1,1-2.039-2.039,2.04,2.04,0,0,1,2.039,2.039' transform='translate(0)' fill='%237e8791'/%3E%3Cpath id='Path_286' data-name='Path 286' d='M1007.46,1193.442a2.039,2.039,0,1,1-2.039-2.039,2.04,2.04,0,0,1,2.039,2.039' transform='translate(-5.376)' fill='%237e8791'/%3E%3Cpath id='Path_287' data-name='Path 287' d='M1000.695,1200.21a2.039,2.039,0,1,1-2.039-2.039,2.039,2.039,0,0,1,2.039,2.039' transform='translate(-2.688 -2.689)' fill='%237e8791'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position-y: bottom;
}

.circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display:inline-table;
}

.circle.green {
  background: #009568;
}

.circle.yellow {
  background: #D1BB4C;
}

.circle.pink {
  background: #D26A98;
}
