@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"),
    url("./fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter Bold"), local("Inter-Bold"),
    url("./fonts/Inter/static/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  height: 70px;
  background-color: #01192d;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.footer {
  height: 75px;
  color: white;
  background-color: #01192d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.footer .network {
  display: flex;
  gap: 10px;
}

.footer .network a {
  color: white;
  text-decoration: none;
}

.btn-rk-green {
  color: black;
  font-weight: bold;
}

.btn-rk-green:hover {
  color: #006e58;
}

.btn-rk-green:active {
  color: #006e58;
}

.content {
  height: calc(100vh - 75px - 70px);
  color: #000;
  overflow: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Define the keyframes for the background animation */
@keyframes changeBackgroundXL {
  0% {
    background-image: url("./img/redirect/frog/X-Large_1.png");
  }
  25% {
    background-image: url("./img/redirect/frog/X-Large_2.png");
  }
  50% {
    background-image: url("./img/redirect/frog/X-Large_3.png");
  }
  75% {
    background-image: url("./img/redirect/frog/X-Large_4.png");
  }
  100% {
    background-image: url("./img/redirect/frog/X-Large_5.png");
  }
}
@keyframes changeBackgroundL {
  0% {
    background-image: url("./img/redirect/frog/Large_1.png");
  }
  25% {
    background-image: url("./img/redirect/frog/Large_2.png");
  }
  50% {
    background-image: url("./img/redirect/frog/Large_3.png");
  }
  75% {
    background-image: url("./img/redirect/frog/Large_4.png");
  }
  100% {
    background-image: url("./img/redirect/frog/Large_5.png");
  }
}
@keyframes changeBackgroundS {
  0% {
    background-image: url("./img/redirect/frog/Small_1.png");
  }
  25% {
    background-image: url("./img/redirect/frog/Small_2.png");
  }
  50% {
    background-image: url("./img/redirect/frog/Small_3.png");
  }
  75% {
    background-image: url("./img/redirect/frog/Small_4.png");
  }
  100% {
    background-image: url("./img/redirect/frog/Small_5.png");
  }
}
@keyframes changeBackgroundXS {
  0% {
    background-image: url("./img/redirect/frog/X-Small_1.png");
  }
  25% {
    background-image: url("./img/redirect/frog/X-Small_2.png");
  }
  50% {
    background-image: url("./img/redirect/frog/X-Small_3.png");
  }
  75% {
    background-image: url("./img/redirect/frog/X-Small_4.png");
  }
  100% {
    background-image: url("./img/redirect/frog/X-Small_5.png");
  }
}

.content {
  background-image: url("./img/redirect/frog/X-Large_5.png");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  overflow: auto;
  width: 100%;
  animation: changeBackgroundXL 5s step-end;
  top: 35%;
}
@media (max-width: 992px) {
  .content {
    background-image: url("./img/redirect/frog/Large_5.png");
    animation: changeBackgroundL 5s step-end;
  }
}

@media (max-width: 576px) {
  .content {
    background-image: url("./img/redirect/frog/Small_5.png");
    animation: changeBackgroundS 5s step-end;
  }
}

@media (max-width: 400px) {
  .content {
    background-image: url("./img/redirect/frog/X-Small_5.png");
    animation: changeBackgroundXS 5s step-end;
  }
}

.content-text {
  padding: 20px;
  background-color: rgba(var(--bs-rk-blue-rgb), 0.7);
  margin-top: 15%;
  max-width: 700px;
}

.content h1 {
  font-weight: bold;
  font-size: xx-large;
  color: #006e58;
}

.content p {
  font-size: 16px;
  line-height: 1.2;
  word-break: break-all;
}

@media (max-width: 768px) {
  .footer .network {
    display: none;
  }
}

@media (min-width: 1024px) {
  .content-text {
    margin: 10% 50px;
  }
}
