.visibilities-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.visibility-box {
    margin: 5px 0;
}

.visibility-box label {
    padding: 0 5px 0 0;
}

.visibility-box input {
    cursor: pointer;
}

.visibility-input {
    border: solid 1px var(--bs-primary);
}

.visibility-input--error {
    border: solid 1px var(--bs-danger);
}

.icon-disabled {
    opacity: 0.5;
}
