.visibilities-box {
    margin: 6px 0;
}

.visibility-box {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.visibility-box label {
    padding: 0 5px 0 0;
}

.visibility-box input {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.visibility-input {
    border: solid 1px var(--bs-primary);
}

.visibility-input--error {
    border: solid 1px var(--bs-danger);
}

.icon-disabled {
    opacity: 0.5;
}
