@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

.avatar {
  --size: 20px;
  --font-size: 11px;

  height: var(--size);
  width: var(--size);
  font-size: var(--font-size);

  &.large {
    --size: 32px;
    --font-size: 16px;
  }
}
