@import "~/src/styles/bootstrap/_custom_bootstrap_variables.scss";

.main {
  background: $rk-background-1;
  border-color: $rk-border-input;
}

.clipboardBtn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover,
  &:focus {
    background-color: $rk-background-0 !important;
    color: $rk-green-highlight !important;
    border-color: $rk-green !important;
  }
  &:active {
    color: $rk-white !important;
    background-color: $rk-green !important;
  }
  &:disabled {
    color: $rk-green !important;
    opacity: 0.6 !important;
  }

  svg {
    margin: unset !important;
  }
}
