.react-autosuggest__container {
  position: relative;
}

/* Overridden in the theme to use bootstrap form-control */

.react-autosuggest__input--focused {
  outline: none;
  border-bottom-width: 0;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 38px;
  width: 100%;
  border: 1px solid #aaa;
  border-top-width: 0;
  background-color: #fff;
  z-index: 2;
  max-height: 560px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-rk-green .react-autosuggest__suggestions-container--open {
  border-color: var(--bs-rk-green);
}

.form-rk-pink .react-autosuggest__suggestions-container--open {
  border-color: var(--bs-rk-pink);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion span {
  display: block;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted, .react-autosuggest__suggestion span.highlighted {
  background-color: #e4e7ea;
}

.react-autosuggest__section-container {
  border: 1px solid var(--bs-rk-border-input);
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

svg.no-pointer {
  cursor: default;
}

/* Custom dropdown symbol taken from bootstrap custom-select class */
/* ? The Autoselect theme fails on the input, otherwise the original boostrap class could be used directly  */
.react-autosuggest__container > input {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: white;
  border: 1px solid var(--bs-rk-border-input);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.react-autosuggest__container > input:focus{
  box-shadow: none;
  border: 1px solid #ced4da;
}

.form-rk-green .react-autosuggest__container > input:focus {
  border-radius: 8px 8px 0 0;
  border-width: 1px;
  border-color: var(--bs-rk-green);

}

.react-autosuggest__container > input::-ms-clear{
  display: none !important;
  content: none !important;
}
