.workflows-box.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}
.workflows-details-content {
    padding: 30px;
}

.workflows-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.workflow-mapping-table, .workflow-details-table {
    background-color: rgba(209, 187, 76, 0.1);
    padding: 20px;
    height: 100%;
}

.workflows-detail-table {
    border: 1px solid var(--bs-light);
    border-radius: 8px;
    padding: 10px;
}

@media (max-width: 768px) { //md-size
    .workflows-filters {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: stretch;
        gap: 5px;
    }
}

h3.workflow-details-title {
    font-size: 25px;
    font-weight: bold;
}

.internal-steps {
    margin-left: -0.25rem;
    margin-right: 0.25rem;
}

@media (max-width: 768px) { //md-size
    .workflows-details-content {
        padding: 15px;
    }
    .internal-steps {
        .rk-tree-item {
            display: flex !important;
            flex-direction: column !important;
            border-bottom: 1px solid #ccc !important;
            padding-bottom: 10px;
        }
        .rk-tree-item:last-child {
            border-bottom: none !important;
        }
        .embed .title {
            padding-bottom: 8px;
        }
    }
    .rk-tree-item.embed .rk-tree-item-content {
        padding: 10px 0;
    }
}

.workflow-simple-box-title {
    font-size: larger;
}
