/* DO WE NEED THIS??? */
.footer .navbar .nav-link {
    padding: 0.5rem;
    white-space: nowrap;
}

.icons-menu a {
    vertical-align: middle;
    outline-style: none;
}
.icons-menu svg {
    outline-style: none;
}

.menu-right {
    margin-top: 10px;
}

.menu-right ul{
    justify-content: space-between;
}

@media (min-width: 992px) {
    .menu-right{
        max-width: 260px;
        margin-top: 0;
    }
}

@media (min-width: 1440px) {
    .menu-right{
        max-width: 280px;
        margin-top: 0;
    }
    .navbar-brand {
        width: 280px;
    }
}
