.LinkUnderline {
  border-bottom: solid 1px var(--bs-rk-text-light);

  &:hover {
    border-bottom: solid 1px var(--bs-rk-text);
  }
  a {
    color: var(--bs-rk-text-light);
  }
  a:hover {
    color: #000;
  }
}
.LinkIcon {
  a {
    color: var(--bs-rk-text-light);
    font-size: 20px;
  }
  a:hover {
    color: #000;
  }
}
.PlusIconButton {
  color: var(--bs-rk-green);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 1000px;
  border: solid 1px var(--bs-rk-green);
  background-color: white;
  padding: 0;

  &:hover {
    color: white;
    background-color: var(--bs-rk-green-hover);
  }
  &:active,
  &:focus {
    color: white;
    background-color: var(--bs-rk-green-active);
  }
}
