.table-files{
	font-size:0.9rem;
	font-weight: lighter;
	table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.table-files thead{
	background-color: #fafafa;
}

.table-files th{
	padding-top:1em;
	border-color:#ced4da !important;
}

.table thead th{
	border-bottom-width: 1px;
	// border-color:#c4c4c4;
}

.table > :not(:first-child) {
  border-top: 1px solid currentColor;
}

.table-files td{
	overflow: unset;
	text-overflow: unset;
	 overflow: visible;
  white-space: normal;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit*/
  word-break: break-word;
	-webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  max-width: 400%;
  width: 400%;
  z-index: 1; /* stack above subsequent cells */
}

/* dropzone customization */
.dz-message button {
  border: none;
  background-color: transparent;
  font-size:0.9rem;
  font-weight: lighter;
  color: var(--bs-body-color);
}

.dz-message button span {
  text-decoration: underline;
}

.upload-file-box {
  border: 1px solid var(--bs-rk-border-input);
  border-radius: 8px;
}

.dz-clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  min-height: 127px;
  background-color: #F3F3F3;
  border-style: dashed;
  border-color: #D3D3D3;
  margin-top: 20px;
}
