@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;1,400&display=swap");

.dataframe {
  @extend .table-sm;
  @extend .table-striped;
  border-width: 0px;
  border-style: none;
  border-collapse: collapse;
  thead {
    border-bottom-color: rgb(189, 189, 189);

    th {
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-collapse: collapse;
    }
  }
  tbody {
    th {
      border-width: 0px;
      border-style: none;
      border-collapse: collapse;
    }
    td {
      border-width: 0px;
      border-style: none;
      border-collapse: collapse;
    }
  }
}

.output_html {
  border-collapse: collapse;
  thead {
    border-bottom-color: rgba(189, 189, 189);
    border-right-color: rgba(220, 220, 220);

    th {
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-collapse: collapse;
    }
  }
  tbody {
    border-bottom-color: rgb(189, 189, 189);
    th {
      border-collapse: collapse;
    }
    td {
      border-style: solid;
      border-width: 0.5px;
      border-collapse: collapse;
      padding: 0.5em 1em;
    }
  }
}

.output_prompt,
.input_prompt {
  display: none;
}

div.output_gif img,
div.output_jpg img,
div.output_png img,
.jupyter .output img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.output_wrapper {
  overflow: scroll;
}

code {
  color: black;
}

.hl-ipython3 {
  background-color: var(--cm-background, #fafafa);
}
