.container-fluid.renku-container {
  padding-right: 2em;
  padding-left:2em;
}

.container-xxl.renku-container {
  padding-right: 2em;
  padding-left: 2em;
}

.rk-navbar {
  background-color: $primary;
}

.h-86{
  min-height: 86%
}
.cursor-auto:hover{
  cursor:auto !important;
}
