.rk-search-bar{

	.btn-rk-white.dropdown-toggle {
		border-color: $rk-light;
    color: $rk-text;
	}

	.btn-rk-light.dropdown-toggle {
    color: $rk-text;
	}

	.btn-rk-light.dropdown-toggle:focus{
		border-color: $rk-light;
    color: $rk-text;
		box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5 );
	}

	.form-control{
		border-color: $rk-light;
		color: $rk-text;
	}

	.form-control:focus{
		border-color: $rk-light;
		color: $rk-text;
		box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5 );
	}

	.rk-button-group{
		.btn-rk-white{
			border-color: $rk-light;
			color:$rk-text;
		}

		.btn-rk-white:hover{
			color: $rk-dark;
			border-color: $rk-dark;
		}

		.btn-rk-white.active{
			color: $rk-dark;
			border-color: $rk-dark;
		}
	}

}
