a:focus-visible, svg:focus, svg:focus-visible {
  outline: none;
}
.container-fluid.renku-container {
  padding-right: 2em;
  padding-left:2em;
}

.container-xxl.renku-container {
  padding-right: 2em;
  padding-left: 2em;
}

.rk-navbar {
  background-color: $primary;
}

.h-86 {
  min-height: 86%
}
.cursor-auto:hover {
  cursor:auto !important;
}

.p-mb-0 > p {
  margin-bottom: 0px;
}

.fs-small {
  font-size: small;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  border-radius: 8px;
  border: 0;
}
.card-header {
  border-radius: 8px 8px 0 0;
}
.modal-content {
  border-radius: 8px;
  border: 0;
  background-color: var(--bs-rk-background-0);
}

.modal-header, .modal-footer {
  border: none;
}

.break-word {
  word-break: break-word;
}

.box-shadow-cards {
  box-shadow: 0 4.0px 10.0px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-item:active {
  color: var(--bs-primary);
  background-color: white;
}

.tooltip-inner {
  border-radius: 8px;
}

.border-radius-8 {
  border-radius: 8px;
}

.pagination {
  border: 1px solid #F5F6FA;
}

.rk-search-pagination .page-item.active .page-link {
  background-color: var(--bs-rk-green) !important;
  color: white !important;
}

.rk-search-pagination .page-link {
  background-color: white !important;
  border-color: #f5f6fa !important;
  color: #3A3A3D !important;
}
