.required-label {
  color: var(--bs-danger);
  font-size: 16px;
  font-weight: bold;
}

.label-disabled, .icon-disabled {
  opacity: 0.5;;
}

.form-check-input:disabled {
  opacity: 0.3;
}

.field-group {
  margin-bottom: 33px !important;
}

.form-label {
  margin-bottom: 0;
}

.form-control {
  border-radius: 8px;
  border-color: var(--bs-rk-border-input);
}

.form-control.is-invalid {
  background-image: none;
}

.form-control:focus {
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.form-rk-green {
  .form-control:focus {
    border: 1px solid var(--bs-rk-green);
    box-sizing: border-box;
  }

  .form-control:read-only:focus {
    border: 1px solid #F5F6FA;
    box-sizing: border-box;
  }
}

.form-rk-pink {
  .form-control:focus {
    border: 1px solid var(--bs-rk-pink);
    box-sizing: border-box;
  }

  .form-control:read-only:focus {
    border: 1px solid #F5F6FA;
    box-sizing: border-box;
  }
}

.form-control.is-invalid:focus {
  border: 1px solid var(--bs-danger);
  box-sizing: border-box;
  box-shadow: 0 0 6px var(--bs-rk-danger-shadow);
}

.field-group {
  margin-bottom: 33px;
}

.inlineSubmit {
  min-width: 100px;
  text-align: center;
}

.btn-inlineSubmit {
  margin-left: 15px;
}


/* input radio */

.form-check-input {
  width: 18px;
  height: 18px;
}

.form-check-input:checked[type=radio] {
  background-image: url("../assets/check.svg");
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.form-check-input[type=radio] {
  background-color: white;
  border: 2px solid var(--bs-rk-border-input);
}

.form-rk-green {
  .form-check-input:checked[type=radio] {
    background-color: var(--bs-rk-green);
    border-color: var(--bs-rk-green);
  }
}

.form-rk-pink {
  .form-check-input:checked[type=radio] {
    background-color: var(--bs-rk-pink);
    border-color: var(--bs-rk-pink);
  }
}


/* switch */

.form-switch .form-check-input[type=checkbox] {
  width: 34px;
  height: 20px;
  background-color: var(--bs-rk-border-input);
  border: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.form-rk-green {
  .form-check-input:checked {
    background-color: var(--bs-rk-green);
    border-color: var(--bs-rk-green);
  }
}

.form-rk-pink {
  .form-check-input:checked {
    background-color: var(--bs-rk-pink);
    border-color: var(--bs-rk-pink);
  }
}


/* checkbox */
.form-check-input[type=checkbox] {
  background-color: white;
  border: 2px solid var(--bs-rk-border-input);
  border-radius: 4px;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("../assets/check.svg");
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.form-rk-green {
  .form-check-input:checked[type=checkbox] {
    background-color: var(--bs-rk-green);
    border-color: var(--bs-rk-green);
  }
}

.form-rk-pink {
  .form-check-input:checked[type=checkbox] {
    background-color: var(--bs-rk-pink);
    border-color: var(--bs-rk-pink);
  }
}


/* select */
.form-select {
  border-radius: 8px;
  background-image: url("../assets/chevron-down.svg");
}

.form-rk-green {
  .form-select:focus, .form-select:active  {
    border-color: var(--bs-rk-green);
  }
}

.form-rk-pink {
  .form-select:focus, .form-select:active {
    border-color: var(--bs-rk-pink);
  }
}
