.fileBarIconButton{
	.icon-link{
		color:$rk-text;
		&hover{
			background-color: red;		
		}
	}
}
.rk-pdf-page {
	width: 100%;
	height: auto;

	svg, div {
		width: 100% !important;
		height: auto !important;
	}
}
