a:focus-visible, svg:focus, svg:focus-visible {
  outline: none;
}
.container-fluid.renku-container {
  padding-right: 2em;
  padding-left:2em;
}

.container-xxl.renku-container {
  padding-right: 2em;
  padding-left: 2em;
}

.rk-navbar {
  background-color: $primary;
}

.h-86 {
  min-height: 86%
}
.cursor-auto:hover {
  cursor:auto !important;
}

.p-mb-0 > p {
  margin-bottom: 0px;
}

.fs-small {
  font-size: small;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  border-radius: 8px;
  border: 0;
}
.card-header {
  border-radius: 8px 8px 0 0;
}
.modal-content {
  border-radius: 8px;
  border: 0;
}
.break-word {
  word-break: break-word;
}
