.rk-tree-item {
  text-decoration: none;
  color: $rk-dark;
  background-color: white;
  border: solid 1px $light;

  &:not(:last-child) {
    border-bottom: none !important;
  }

  &:hover {
    background-color: $rk-background-0;
  }
  
  &.selected {
    background-color: $rk-light !important;
  }

  &.compact {
    .rk-tree-item-content {
      padding: 0.5em 0.5em 0.5em 0;
    }
  }

  &.embed {
    border: none;

    .rk-tree-item-content {
      padding: 0.5em;
    }
  }

  .interactive {
    cursor: pointer !important;
  }

  .center-vertically {
    margin-top: auto;
    margin-bottom: auto;
  }

  .rk-tree-item-content {
    padding: 1em 1em 1em 0;
  }

  a {
    text-decoration: none !important;
  }

  p, h5 {
    margin-bottom: 0;
    display: inline-block !important;
    margin-right: 0.5rem !important;
  }

  .executions p {
    display: inline-block !important;
    margin-right: 0.5rem !important;
  }
}


.rk-tree-details {
  .rk-tree-details-back {
    position: absolute;
    z-index: 10;
    top: 17px;
    right: 17px;

    .rk-tree-details-back-container {
      border-radius: 1000px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
    }
  }

  .rk-clickable {
    cursor: pointer;

    &:hover {
      background-color: $rk-background-0;
    }

    &.selected {
      background-color: $rk-light !important;
    }
  }
}

.rk-tree-table {
  td.short {
    white-space: nowrap;
    width: 1px; // ? combined with `nowrap`, this limit the width to the shortest sentence
    padding-right: 1rem;
  }
}
