.card-entity {
  max-width: 350px;
  margin: auto;

  .card-body {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
.card-entity--large {
  width: 100%;
  .card-body {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
.card-header-entity {
  height: 198px;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}
.card-header-entity--large {
  height: 130px;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}

.card-header-entity--project {
  background-image: url("../assets/projectBackgroundSmall.png");
}

.card-header-entity--dataset {
  background-image: url("../assets/datasetBackgroundSmall.png");
}

.card-header-entity--workflow {
  background-image: url("../assets/workflowBackgroundSmall.png");
}

.card-header-entity--project-large {
  background-image: url("../assets/projectBackgroundLarge.png");
}

.card-header-entity--dataset-large {
  background-image: url("../assets/datasetBackgroundLarge.png");
}

.card-header-entity--workflow-large {
  background-image: url("../assets/workflowBackgroundLarge.png");
}

.card-type-label {
  border-radius: 1000px;
  background-color: rgba(255,255,255,0.8);
  padding: 5px 15px;
}

.card-visibility-icon svg {
  color: rgba(255,255,255,0.6);
}
.card-visibility-icon--bar svg {
  color: var(--bs-dark);
}

.card-bg-title {
  color: rgba(255,255,255,0.2);
  font-size: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  line-height: normal;
}

.card-bg-title--large {
  position: absolute;
  line-height: 150px;
}

.card-title {
  font-size: 27px;
  color: var(--bs-dark);
  line-height: 32px;
  font-weight: bold;
}

.card-tags {
  min-height: 24px;
}

.card-description {
  min-height: 24px;
}

.card-button {
  position: absolute;
  top: 175px;
  right: 20px;
}

.main-card-container {
  .card-header {
    border: none;
    padding: 0 0 10px 0;
  }

  .card-body {
    background-color: #F5F5FA;
    border-radius: 7px;
    padding: 20px;
  }
}

