.btn {
  display: flex;
  font-size: 34px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--bs-rk-green);
}
.btn:hover {
  color: var(--bs-rk-green-hover);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.btn:first-child:active,
.btn.active,
.btn:focus {
  color: var(--bs-rk-green-active);
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
}
