.rk-search-bar{
  .btn-rk-white.dropdown-toggle {
    border-color: $rk-light;
    color: $rk-text;
  }

  .btn-rk-light.dropdown-toggle {
    color: $rk-text;
  }

  .btn-rk-light.dropdown-toggle:focus{
    border-color: $rk-light;
    color: $rk-text;
    box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5 );
  }

  .form-control{
    border-color: $rk-light;
    color: $rk-text;
  }

  .form-control:focus{
    border-color: $rk-light;
    color: $rk-text;
    box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5 );
  }

  .rk-button-group{
    .btn-rk-white{
      border-color: $rk-light;
      color:$rk-text;
    }

    .btn-rk-white:hover{
			background-color: $rk-hover;
    }

    .btn-rk-white.active{
			background-color: $rk-hover;
      color: $rk-dark;
      border-color: $rk-dark;
    }
  }
}

.rk-search-result{
  text-decoration: none;
  color: $rk-dark;
  background-color: white;
  min-height:150px;
  padding-top:1em;
  padding-bottom:0.75em;
  padding-left: 1em;
  padding-right: 1.5em;
  border-top: solid 1px $light;
  border-left: solid 1px $light;
  border-right: solid 1px $light;

  .title{
    font-size: 24px;
    .slug{
      font-size: 14px;
    }
  }

  .description{
    max-height: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  p{
    margin-bottom:0px;
    margin-block-end:0px;
    margin-block-start:0px;
  }
}

.rk-search-result-100{
  min-height: 100px;
}

.rk-search-result:hover, .rk-search-result-compact:hover{
  cursor: pointer;
  color: $rk-dark;
  background-color: $rk-hover;
}

.rk-search-result:last-child, .rk-search-result-compact:last-child{
  border-bottom: solid 1px $light;
}

.rk-search-result-compact{
  text-decoration: none;
  color: $rk-dark;
  background-color: white;
  padding-top:1em;
  padding-bottom:0.75em;
  padding-left: 1em;
  padding-right: 1.5em;
  border-top: solid 1px $light;
  border-left: solid 1px $light;
  border-right: solid 1px $light;
  a{
    color: $rk-dark;
  }
  p{
    margin-bottom:0px;
    margin-block-end:0px;
    margin-block-start:0px;
  }
}

.rk-search-pagination{
  .page-link{
    background-color: white;
    border-color: $rk-light;
    color: $rk-text;
  }
  .page-link:focus{
    box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5 );
  }
  .page-item.active{
    .page-link{
      background-color:$rk-text;
      border-color: $rk-text;
      color: white;
    }
  }
}

.rk-search-result-grid {
  display: flex;
  margin-left: -1em;
  width: auto;

  .rk-search-result-grid_column {
    padding-left: 1em;
    background-clip: padding-box;
  }

  .rk-search-result-grid_column > .rk-search-result-card {
    margin-bottom: 1em;
  }

  .rk-search-result-card{
    .card-body{
      min-height: 250px;
      .title{
        font-size: 24px;
      }
    }
  }
}
