:root {
    --progress_height: 16px;
}

.progress-box {
    width: 100%;
    padding: 40px 25px 20px 25px;
}

.progress-box--dark {
    background-color: #C5CBCF;
}

.progress-box h2 {
    color: var(--bs-dark);
    font-weight: bold;
    font-size: 20px;
}

.progress-box p {
    color: var(--bs-dark);
    font-weight: normal;
    font-size: 16px;
}

.progress-bar-box {
    width: 100%;
    margin: auto;
}

.progress-bar-box--light {
    border: 1px solid var(--bs-primary);
}

.progress-bar {
    height: var(--progress_height);
    background-color: #E6E9ED;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.progress-bar-determinate {
    height: var(--progress_height);
    position: absolute;
    background-color: var(--bs-primary);
}

.progress-bar-determinate-auto {
    width: 100%;
    height: var(--progress_height);
    position: absolute;
    background-color: var(--bs-primary);
    animation-name: determinateAnimationWaiting;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes determinateAnimationWaiting {
    0% {
        width: 0;
        visibility: visible;
    }
    15% {
        width: 20%;
        visibility: visible;
    }
    25% {
        width: 60%;
        visibility: visible;
    }
    60% {
        width:100%;
    }
    60.1% {
        width: 0;
        visibility: hidden;
    }
    100% {
        width: 0;
        visibility: hidden;
    }
}

.progress-bar-indeterminate {
    width: 0;
    height: var(--progress_height);
    position: absolute;
    background-color: var(--bs-primary);
    transform-origin: 0 100%;
    animation-name: indeterminateAnimationWaiting;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes indeterminateAnimationWaiting {
    0% {
        width: 0;
        visibility: hidden;
    }
    60% {
        width: 100%;
        visibility: hidden;
        transform:  translateX(0) scaleX(0);
    }
    60.1% {
        width: 100%;
        visibility: visible;
        transform:  translateX(0) scaleX(0);
    }
    75% {
        width: 100%;
        visibility: visible;
        transform:  translateX(0) scaleX(0.4);
    }
    80% {
        width: 100%;
        visibility: visible;
        transform:  translateX(100%) scaleX(0.5);
    }
    80.1% {
        visibility: hidden;
    }
    82% {
        visibility: hidden;
        width: 0;
        transform:  translateX(0) scaleX(0);
    }
    82.1% {
        visibility: visible;
        width: 100%;
        transform:  translateX(0) scaleX(0);
    }
    95% {
        visibility: visible;
        width: 100%;
        transform:  translateX(0) scaleX(0.4);
    }
    100% {
        visibility: visible;
        width: 100%;
        transform:  translateX(100%) scaleX(0.5);
    }
}
