@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "/src/styles/bootstrap/_custom_bootstrap_variables2.0.scss";

.SessionCard-warning {
  border: solid 1px var(--#{$prefix}warning) !important;
  border-left: solid 7px var(--#{$prefix}warning) !important;
  background-color: $rk-warning-50 !important;
}
.SessionCard-success {
  border: solid 1px var(--#{$prefix}success) !important;
  border-left: solid 7px var(--#{$prefix}success) !important;
  background-color: $rk-success-50 !important;
}
.SessionCard-danger {
  border: solid 1px var(--#{$prefix}danger) !important;
  border-left: solid 7px var(--#{$prefix}danger) !important;
  background-color: $rk-danger-50 !important;
}
.SessionCard-gray {
  border: solid 1px var(--#{$prefix}gray) !important;
  border-left: solid 7px var(--#{$prefix}gray) !important;
  background-color: $rk-gray-100 !important;
}
.EnvironmentCard {
  border: solid 1px var(--#{$prefix}gray) !important;
  background-color: $rk-gray-100 !important;
}
