Button.alert-link {
  padding: 0;
  border: 0;
  vertical-align: bottom;
}

.visibilityLabel {
  display: inline;
  color: rgba(0, 0, 0, 0.5);
  /* color: black; */
  margin-left: 0.1em;
  font-size: 0.55em;
}

.selected-dataset{
  font-weight: normal;
  background-color: #e9ecef;
}

.selected-dataset .fs-element{
  background-color: #e9ecef;
}

.datasetDescriptionText{
  font-size: 14px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
