<div>
    <v-progress-linear v-bind:indeterminate="true" v-show="progress" ></v-progress-linear>
    <graph-item-table v-bind:headers="headers" v-bind:url_list="url_list" v-on:selected="onSelect" v-bind:parser="parser">
      <span slot="title">Bucket files</span>
    </graph-item-table>
    <v-navigation-drawer right temporary v-model="detailsPanel" overflow>
      <v-subheader inset><slot name="panel">File versions</slot></v-subheader>
      <v-list two-line>
          <v-list-tile v-for="item in file_versions" v-bind:key="item.id">
              <v-list-tile-content>
                  <v-list-tile-title>{{ item.id }}</v-list-tile-title>
                  <v-list-tile-sub-title>{{ new Date(item.properties[1].values[0].value).toISOString() }}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn flat v-bind:href="'./download?id=' + item.id">
                  <v-icon secondary>file_download</v-icon>
                </v-btn>
              </v-list-tile-action>
          </v-list-tile>
          <v-list-tile>
              <v-list-tile-content>
                <v-btn secondary @click.stop="dialog = 'version'">Add new version</v-btn>
              </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
              <v-list-tile-content>
                  <v-btn secondary @click.stop="dialog = 'rename'">Rename</v-btn>
              </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
              <v-list-tile-content>
                  <v-btn secondary @click.stop="dialog = 'labels'">Labels</v-btn>
              </v-list-tile-content>
          </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-btn secondary fixed bottom right fab @click.stop="dialog = 'bucket'"><v-icon>add</v-icon></v-btn>

    <v-dialog v-model="dialog" v-if="dialog === 'bucket'">
        <bucket-dialog
                v-on:success="success"
                v-on:cancel="cancel"
                v-bind:bucketId="bucketId">
        </bucket-dialog>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'version'">
        <version-dialog
                v-on:success="success"
                v-on:cancel="cancel"
                v-bind:selectedFile="selectedFile">
        </version-dialog>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'rename'">
        <file-rename-dialog
                v-on:success="dialog = null"
                v-on:cancel="cancel"
                v-bind:selectedFile="selectedFile">
        </file-rename-dialog>
    </v-dialog>

    <v-dialog v-model="dialog" v-if="dialog === 'labels'">
        <file-label-dialog
                v-on:success="success"
                v-on:cancel="cancel"
                v-bind:selectedFile="selectedFile">
        </file-label-dialog>
    </v-dialog>
</div>
