$baseUrl: "/src/styles/fonts/Inter";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-Thin.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-Thin.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-ThinItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-ExtraLight.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-ExtraLightItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-Light.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-LightItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-Regular.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-Italic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-Medium.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-MediumItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-SemiBold.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-Bold.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-BoldItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-ExtraBold.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-Black.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("#{$baseUrl}/Inter-BlackItalic.woff2") format("woff2"),
    url("#{$baseUrl}/Inter-BlackItalic.woff") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("#{$baseUrl}/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("#{$baseUrl}/Inter-italic.var.woff2") format("woff2");
}
