.LinkUnderline {
  border-bottom: solid 1px var(--bs-rk-text-light);

  &:hover {
    border-bottom: solid 1px var(--bs-rk-text);
  }
  a {
    color: var(--bs-rk-text-light);
  }
  a:hover {
    color: #000;
  }
}
.LinkIcon {
  a {
    color: var(--bs-rk-text-light);
    font-size: 20px;
  }
  a:hover {
    color: #000;
  }
}
.PlusIconButton {
  color: var(--bs-rk-green) !important;

  &:hover {
    color: white !important;
    background-color: var(--bs-rk-green-hover) !important;
  }
  &:active,
  &:focus {
    color: white !important;
    background-color: var(--bs-rk-green-active) !important;
  }
}

.EditButton {
  color: var(--bs-gray-800) !important;
}
.EditButton:hover {
  color: var(--bs-dark) !important;
}
.EditButton:first-child:active {
  color: var(--bs-gray-700) !important;
}
.EditButton:focus,
.EditButton:focus-visible {
  color: var(--bs-gray-900) !important;
}

.EmptyButton {
  &:hover {
    color: var(--bs-rk-green-hover) !important;
    border-style: solid !important;
    border-color: var(--bs-rk-green-hover) !important;
  }
  &:active,
  &:focus {
    color: white !important;
    background-color: var(--bs-rk-green-active) !important;
  }
}
