.threeDots {
  color: var(--bs-rk-green) !important;

  &:hover {
    color: var(--bs-rk-green-hover) !important;
  }

  &:first-child:active,
  &:active,
  &:focus {
    color: var(--bs-rk-green-active) !important;
  }
}
.threeDotsDark {
  color: var(--bs-dark) !important;

  &:hover {
    color: var(--bs-gray-700) !important;
  }

  &:first-child:active,
  &:active,
  &:focus {
    color: var(--bs-gray-600) !important;
  }
}
