@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

.link {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  min-width: 0;
  max-width: 100%;
  text-decoration: underline;

  @include media-breakpoint-up(md) {
    text-decoration: none;
  }
}

.link:hover,
.link:focus-visible {
  color: var(--bs-link-hover-color) !important;
  text-decoration: underline;
}

.nav {
  overflow-x: hidden;
}

.level {
  flex: 0 1 auto;
  min-width: 0;

  &::before {
    flex-shrink: 0;
  }
}

.collapsed {
  @include media-breakpoint-down(md) {
    flex: 0 0 auto;
  }
}

.label {
  flex: 0 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fullLabel {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.ellipsis {
  flex-shrink: 0;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
