<div>
  <v-layout>
    <v-flex xs12 sm6>
      <v-card class="ma-3">
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Exposed services</h3>
            <div v-if="port != ''"> {{ deploy_ip }}:{{ port }}</div>
            <div v-else>No service</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn secondary v-on:click="clickItem($event)" v-if="port != ''">Open in a new window</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6>
      <v-card class="ma-3">
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Logs</h3>
            <div v-html="logs"></div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn secondary v-on:click="clickRefresh($event)">Refresh</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex xs12 sm6>
      <v-card class="ma-3">
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Stop execution</h3>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn error v-on:click="clickStop($event)">Stop</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</div>