.projectStatusSection {
  display: flex;
  padding: 0.5rem 0;
}

.projectStatusDetailsSection {
  padding: 1rem 0 1rem 1rem;
  border-bottom: black 1px dashed;

  &:first-child {
    border-top: black 1px dashed;
  }
}

.sectionTitle {
  border-bottom: 1px solid transparent;

  &Expandable:hover {
    border-bottom-color: var(--bs-body-color);
  }
}

/* Reuse the accordion CSS styles for the chevron */
.chevron {
  transition: var(--bs-accordion-btn-icon-transition);

  &IsOpen {
    transform: var(--bs-accordion-btn-icon-transform);
  }
}
