<div class="container">
  	<h2>Welcome to Renga</h2>
    <h3>The one-stop-shop for data science</h3>
    <v-layout>
      <v-flex sm6 offset-sm3>
        <v-card class="ma-5" v-if="user.user !== undefined">
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Get started</h3>
              <p>
                A step by step tutorial to discover the platform
              </p>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn secondary @click.native.stop="$router.push('/tutorial')">Go!</v-btn>
          </v-card-actions>
        </v-card>
        <v-card class="ma-5" v-else>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Get started</h3>
              <p>
                Please login first...
              </p>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
</div>