<div>
    <v-progress-linear v-bind:indeterminate="true" v-show="progress" ></v-progress-linear>
    <graph-item-table v-bind:headers="headers" name_key="resource:file_name" v-bind:url_list="url_list" v-on:selected="onSelect" v-bind:parser="parser">
      <span slot="title">Executions</span>
    </graph-item-table>
    </v-navigation-drawer>
    <v-dialog v-model="dialog">
        <v-btn secondary fixed bottom right fab slot="activator"><v-icon>play_arrow</v-icon></v-btn>
        <execution-dialog
                v-on:closeDialog="closeDialog"
                v-bind:contextUUID="contextUUID"
        ></execution-dialog>
    </v-dialog>
</div>