.button-box {
    flex-basis: 160px;
    align-items: flex-end;
    flex-grow: 0;
}

.icons-box {
    flex-basis: 30px;
    flex-direction: column;
}

.media-box {
    max-width: 130px;
    margin: 0 10px;
    height: fit-content;
}

.entity-title--slug {
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
    color: var(--bs-rk-text);
    font-weight: bold;
}


.listBar-entity-image {
    max-width: 126px;
    height: 77px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    background-position-x: center;
    background-position-y: top;
    overflow: hidden;
}

.listBar-entity-creators {
    padding: 5px 0;

    svg {
        flex: 0 0 auto;
    }

    span {
        flex: 1;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.entity-type-visibility {
    display: flex;
    align-items: center;
    gap: 20px;
}

.listBar-entity-date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.listBar-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    min-height: 30px;
    height: 30px;
    width: 90%;
}

.container-entity-listBar {
    --bs-card-title-spacer-y: 0.5rem;
    display: grid;
    gap: 0 20px;
    grid-auto-flow: row;
    background-color: white;
    padding: 20px;
    grid-auto-rows: 1fr;
    grid-template-columns: 126px fit-content(80px) auto auto 180px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "entity-image entity-title entity-title entity-title entity-action"
        "entity-image entity-description entity-description entity-description entity-description"
        "entity-image entity-type-visibility entity-creators entity-creators entity-date";

    .card-bg-title--small {
        font-size: 50px;
        margin-top: 0;
        padding-top: 30px;
    }
}

@media (max-width: 992px) {
    .container-entity-listBar {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 126px auto 180px;
        grid-template-rows: auto auto auto auto;
        gap: 0 20px;
        grid-template-areas:
            "entity-title entity-title entity-action"
            "entity-image entity-creators entity-creators"
            "entity-image entity-description entity-description"
            "entity-image entity-type-visibility entity-date";
    }
}

@media (max-width: 600px) {
    .container-entity-listBar {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 126px auto 140px;
        grid-template-rows: auto auto auto auto auto;
        gap: 0 10px;
        padding: 15px;
        grid-template-areas:
            "entity-title entity-title entity-title"
            "entity-type-visibility entity-type-visibility entity-action"
            "entity-image entity-creators entity-creators"
            "entity-image entity-description entity-description"
            "entity-image entity-date entity-date";

        .entity-title, .entity-type-visibility, .entity-action {
            margin-bottom: 10px;
        }
        .entity-action {
            justify-content: end;
        }
        .entity-type-visibility {
            gap: 15px;
        }
        .card-title {
            font-size: 20px;
        }
        .entity-title--slug {
            font-size: 18px;
        }
    }

    .listBar-entity-date {
        justify-content: start;
        margin-top: 5px;
    }

    .listBar-title {
        width: 99%;
    }
}

@media (max-width: 370px) {
    .container-entity-listBar {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        gap: 0 10px;
        grid-template-areas:
            "entity-title"
            "entity-action"
            "entity-image"
            "entity-type-visibility"
            "entity-creators"
            "entity-description"
            "entity-date";

        .entity-title, .entity-action, .entity-image {
            margin-bottom: 8px;
        }
        .entity-type-visibility {
            margin-bottom: 0;
        }
        .entity-action {
            justify-content: start;
        }
    }

    .listBar-entity-date {
        justify-content: start;
        margin-top: 5px;
    }
}

.entity-image { grid-area: entity-image; }
.entity-action { grid-area: entity-action; }
.entity-title { grid-area: entity-title; }
.entity-description { grid-area: entity-description; }
.entity-type-visibility { grid-area: entity-type-visibility; }
.entity-creators { grid-area: entity-creators; }
.entity-date { grid-area: entity-date; }
