.commit-object, .commit-date {
  border-width: 1px 0 0 0;
  padding: 0.50rem;
}

.commit-object .commit-cut-message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.commit-date {
  background-color: rgba(0, 0, 0, 0.01);
  font-size: 80%;
  font-weight: bold;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #F5F5F5;
  border:unset;
}

.commit-date:first-of-type{
  border-top: 1px solid #E4E7EA;
}

.commit-object{
  border-bottom: 1px solid #E4E7EA;
  line-height: 1.5rem;
}

.commit-cut-message > a {
  text-decoration: none;
}

.commit-buttons > .last-item-button-group {
  border-radius: 0 8px 8px 0;
}
