@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

#featContainer {
  h3 {
    font-size: 40px;
    margin: 40px 0;
    line-height: normal;
  }

  p {
    line-height: normal;
  }

  .featDocLinks {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    min-height: 45px;
    text-align: left;

    a {
      font-size: 18px;
      color: black;
      font-weight: bold;
    }
    svg {
      flex-shrink: 0;
    }
    @include media-breakpoint-down(lg) {
    }
  }

  @include media-breakpoint-up(xs) {
    h3 {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
    }
  }

  @include media-breakpoint-up(md) {
    h3 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }
  }

  @include media-breakpoint-up(lg) {
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
    }
  }

  @include media-breakpoint-down(lg) {
    h3 {
      padding-top: 0;
    }
  }
}
