Button.alert-link {
  padding: 0;
  border: 0;
  vertical-align: bottom;
}

.visibilityLabel {
  display: inline;
  color: rgba(0, 0, 0, 0.5);
  /* color: black; */
  margin-left: 0.1em;
  font-size: 0.55em;
}

.warningLabel {
  display: inline;
  color: #ffc107;
  margin-right: 0.3em;
  font-size: 0.8em;
}

.selected-dataset{
  font-weight: normal;
  background-color: #e9ecef;
}

.selected-dataset .fs-element{
  background-color: #e9ecef;
}

.datasetDescriptionText{
  font-size: 14px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  overflow: hidden; 
  -webkit-box-orient: vertical;
}

.margin-no-triangle{
  margin-left:15px;
}

.triangle-border {
  background:#fff;
}

.triangle-border.left {
  margin-left:15px;
}

.triangle-border.left:before {
  top:20px;
  bottom:auto;
  position:absolute;
  left: -10px;
  margin:auto;
  height: 20px;
  width: 20px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color: #fff;
  border-bottom:1px solid rgba(0, 0, 0, 0.125);
  border-left:1px solid rgba(0, 0, 0, 0.125);
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px;
  left:40px;
  border-width:20px 20px 0;
  border-style:solid;
  display:block;
  width:0;
}

.selected-issue {
  color: black;
  font-weight:bold;
  text-decoration-line: underline;
}

.badge-renku-light{
  color: #fff;
  background-color: #8a8a8a;
}


.mr-title{
  display:inline-block;
  width:60%;
  max-width:61%;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.display-block{
  visibility: display;
}

.display-none{
  display: none;
}

.issue-text-crop{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileBarIconButton{
  display: inline-flex;
  vertical-align: bottom;
  position: relative;
  padding: 0.1rem 0.1rem; 
}

.fileBarText{
  vertical-align: sub;
  display:inline-flex;
}

.fileBarButton{
  padding: 0.125rem 0.3rem;
  color: #999999;
  border-color: #999999;
}

.fileBarButton:not(:disabled):not(.disabled):active,
.fileBarButton:not(:disabled):not(.disabled).active, .show > .fileBarButton.dropdown-toggle {
  color: #f6f6f6;
  border-color: #999999;
  background-color: #999999;
}

.fileBarButton:hover {
  color: #f6f6f6;
  border-color: #999999;
  background-color: #999999;
}

.fileBarButton:focus, .fileBarButton.focus{
  box-shadow: 0 0 0 0.2rem  rgba(115, 115, 115, 0.2);
}

.fileBarButton:focus, .fileBarButton.focus{
  box-shadow: 0 0 0 0.2rem  rgba(115, 115, 115, 0.2);
}

.fileBarButton:not(:disabled):not(.disabled):active:focus, 
.fileBarButton:not(:disabled):not(.disabled).active:focus, 
.show > .fileBarButton.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem  rgba(115, 115, 115, 0.2);
}

.dropdown-toggle.removeArrow{
  content:none !important;
}
.dropdown-toggle.removeArrow::after{
  content:none !important;
}
