Button.alert-link {
  padding: 0;
  border: 0;
  vertical-align: bottom;
}

.warningLabel {
  display: inline;
  color: #f0c800;
  margin-right: 0.3em;
  font-size: 0.75em;
}
.warningLabel > svg {
  vertical-align: top;
  margin-top: 0.20rem;
}

.selected-dataset{
  font-weight: normal;
  background-color: #e9ecef;
}

.selected-dataset .fs-element{
  background-color: #e9ecef;
}

.datasetDescriptionText{
  font-size: 14px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  overflow: hidden; 
  -webkit-box-orient: vertical;
}

.margin-no-triangle{
  margin-left:15px;
}

.triangle-border {
  background:#fff;
}

.triangle-border.left {
  margin-left:15px;
}

.triangle-border.left:before {
  top:20px;
  bottom:auto;
  position:absolute;
  left: -10px;
  margin:auto;
  height: 20px;
  width: 20px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color: #fff;
  border-bottom:1px solid rgba(0, 0, 0, 0.125);
  border-left:1px solid rgba(0, 0, 0, 0.125);
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px;
  left:40px;
  border-width:20px 20px 0;
  border-style:solid;
  display:block;
  width:0;
}

.selected-issue {
  color: black;
  font-weight:bold;
  text-decoration-line: underline;
}

.badge-renku-light{
  color: #fff;
  background-color: #8a8a8a;
}


.mr-title{
  display:inline-block;
  width:60%;
  max-width:61%;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.display-block{
  visibility: display;
}

.display-none{
  display: none;
}

.issue-text-crop{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-toggle.removeArrow{
  content:none !important;
}
.dropdown-toggle.removeArrow::after{
  content:none !important;
}

.variableWidthColLeft {
  overflow: auto;
  resize: horizontal;
  min-width: 200px;
  width: 20%;
  height: fit-content;
}

@media (max-width: 576px) {
  .variableWidthColLeft {
    resize: none;
    min-width: 100%;
    width: 100%;
    padding-right: 12px !important;
    margin-bottom: 12px !important;
  }
}

.variableWidthColRight{
  flex: 1 1 0;
  overflow: auto;
  min-width: 380px;
}
