text {
  font-weight: 300;
  font-size: 13px;
}

g.code rect {
  fill: #998ec399;
  stroke-width: 1.5px;
}

g.data rect {
  fill: #ffffff;
  stroke: #aaa;
  stroke-width: 0.7px;
}

g.workflow {
  line-height: 1;
}

g.workflow polygon {
  fill: #7fbf7bc9;
  stroke: unset;
}

.node.central text {
  font-weight: bold;
  font-style: italic;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

.graphContainer{
 text-align: center;
}

svg {
  height: 60vh;
  width: 100%;
  cursor:pointer;
}

.zoomButtons{
  position: absolute;
  right: 20px;
}

.btn-group-left{
  border-color: #e3e3e3;
  color: #868686;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group-left:hover{
  background-color: #868686;
  border-color: #868686;
}

.btn-group-right{
  border-color: #e3e3e3;
  color: #868686;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group-right:hover{
  background-color: #868686;
  border-color: #868686;
}
