text {
  font-weight: 300;
  font-size: 13px;
}

.node rect {
  fill: #998ec399
}

.node polygon {
  fill: #7fbf7bc9  
}

.node.central text {
  font-weight: bold;
  font-style: italic;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

.graphContainer{
  text-align: center;
}