text {
  font-weight: 300;
  font-size: 14px;
}

.node rect {
  fill: #fff;
}

.node.central text {
  font-weight: bold;
  font-style: italic;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}
