.plainAlert {
  --bs-alert-bg: var(--bs-rk-white);
}

.readMore {
  color: unset;
  text-decoration: unset;
  border-bottom: 1px solid transparent;
}

.readMore:hover {
  border-bottom-color: var(--bs-body-color);
}

/* Reuse the accordion CSS styles for the chevron */
.chevron {
  transition: var(--bs-accordion-btn-icon-transition);
}

.chevronIsOpen {
  transform: var(--bs-accordion-btn-icon-transform);
}
