@import "../styles/renku_bootstrap_customization.scss";

@mixin spin-animation() {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
}

.spinner {
  --spinner-animation-speed: 1.5s;

  @include spin-animation() {
    to {
      transform: rotate(360deg);
    }
  }
  animation-duration: var(--spinner-animation-speed);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bouncer {
  text-align: center;
  margin: 50px auto 25px auto;
}
.bouncer span {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin: 5px;
  background: $navy;
  border-radius: 50px;
  animation: bouncer 0.9s infinite alternate;
}
.bouncer span:nth-of-type(2) {
  animation-delay: 0.25s;
}
.bouncer span:nth-of-type(3) {
  animation-delay: 0.5s;
}
@keyframes bouncer {
  0%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.6;
    transform: translateY(-21px);
  }
}
