<div class="container">
  	<h2>Get started with Renga</h2>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <template v-for="n in steps">
          <v-stepper-step
            :key="n"
            :step="n"
            :complete="e1 > n"
          >
            Step {{ n }}
          </v-stepper-step>
          <v-divider v-if="n !== steps"></v-divider>
        </template>
      </v-stepper-header>
      <v-stepper-content :step="1">
         <v-layout>
          <v-flex xs12 sm6>
            <v-card class="ma-5">
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Create a new project</h3>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat class="teal--text" @click.native.stop="projectDialog = true">Create</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6>
            <v-card class="ma-5">
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Choose an existing one</h3>
                  <v-select
                    v-bind:items="projects"
                    v-model="existingProject"
                    label="Select"
                    item-text="name"
                    item-value="id"
                    single-line
                    bottom
                  ></v-select>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn primary @click="chooseProject()">Next</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-stepper-content>
      <v-stepper-content :step="2">
        <v-card class="grey lighten-1 mb-5" height="200px"></v-card>
        <v-btn primary @click="addProject">Continue</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
    </v-stepper>
    <v-dialog v-model="projectDialog">
      <v-card>
        <v-card-title>
          <span class="headline">Create a new project</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name" required v-model="project_name"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="teal--text darken-1" flat @click.native="projectDialog = false">Cancel</v-btn>
          <v-btn class="teal--text darken-1" flat @click.native="addProject($event)">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</div>