<div class="container">
  	<h2>Get started with Renga</h2>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <template v-for="n in steps">
          <v-stepper-step
            :key="n"
            :step="n"
            :complete="e1 > n"
          >
            Step {{ n }}
          </v-stepper-step>
          <v-divider v-if="n !== steps"></v-divider>
        </template>
      </v-stepper-header>
      <v-stepper-content :step="1">
         <v-layout>
          <v-flex xs12 sm6>
            <v-card class="ma-5">
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Create a new project</h3>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn secondary @click.native.stop="projectDialog = true">Create</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6>
            <v-card class="ma-5">
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Choose an existing one</h3>
                  <v-select
                    v-bind:items="projects"
                    v-model="existingProject"
                    label="Select"
                    item-text="name"
                    item-value="id"
                    single-line
                    bottom
                  ></v-select>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn secondary @click="chooseProject()">Next</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-stepper-content>
      <v-stepper-content :step="2">
        <div>
          <h3 class="headline mb-0">Input datasets</h3>
        </div>
        <v-layout>
          <v-flex xs12 sm6>
            <v-card class="ma-1">
              <v-list two-line subheader>
                <v-subheader inset>Project's files</v-subheader>
                <v-list-tile avatar v-for="item in datasets_local" v-bind:key="item.id">
                  <v-list-tile-avatar>
                    <v-icon>file</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ item.id }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn icon ripple>
                      <v-icon class="grey--text text--lighten-1">info</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
              </v-list>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn secondary @click.native.stop="fileDialog = true">Upload</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6>
            <v-card class="ma-1">
              <v-list two-line subheader>
                <v-subheader inset>Imported files</v-subheader>
                <v-list-tile avatar v-for="item in datasets_import" v-bind:key="item.id">
                  <v-list-tile-avatar>
                    <v-icon>file</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ item.id }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn icon ripple>
                      <v-icon class="grey--text text--lighten-1">info</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
              </v-list>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn secondary @click.native.stop="openImportDialog">Import</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
        <v-spacer></v-spacer>
        <v-btn secondary @click="addProject">Continue</v-btn>
      </v-stepper-content>
    </v-stepper>
    <v-dialog v-model="projectDialog">
      <v-card>
        <v-card-title>
          <span class="headline">Create a new project</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name" required v-model="project_name"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn secondary flat @click.native="projectDialog = false">Cancel</v-btn>
          <v-btn secondary @click.native="addProject($event)">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="fileDialog">
      <v-card>
        <v-card-title>
          <span class="headline">Upload a file</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name" required v-model="bucketfile"></v-text-field>
          <v-text-field prepend-icon="attach_file" single-line
                      v-model="filename" label="File" required
                      @click.native="onFocus"
                      ref="fileTextField"></v-text-field>
        <input type="file" accept="accept" ref="fileInput" @change="onFileChange" style="display:none">
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn secondary flat @click.native="fileDialog = false">Cancel</v-btn>
          <v-btn secondary @click.native.stop="addFile($event)">Upload</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="importDialog">
      <v-card>
        <v-card-title>
          <span class="headline">Select a file to import {{datasets_all.length}}</span>
        </v-card-title>
        <v-card-text>
          <v-text-field append-icon="search" label="Search" single-line hide-details v-model="searchImport"></v-text-field>
          <v-list two-line>
            <v-list-tile avatar v-for="item in datasets_filter" v-bind:key="item.id" @click="addImport(item)">
              <v-list-tile-avatar>
                <v-icon>file</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ item.id }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn secondary flat @click.native="importDialog = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</div>