<v-card>
    <v-card-title>
        <v-progress-linear v-bind:indeterminate="true" v-show="progress" ></v-progress-linear>
        <span class="headline">Upload a file</span>
    </v-card-title>
    <v-card-text>
        <v-text-field label="Name" required v-model="bucketfile"></v-text-field>
        <v-btn-toggle v-model="fileOrigin">
            <v-btn flat value="local">
                Local File
            </v-btn>
            <v-btn flat value="URL">
                File from URL
            </v-btn>
        </v-btn-toggle>
        <span v-if="fileOrigin === 'local'">
            <v-text-field
                    prepend-icon="attach_file" single-line
                    :label="displayFilename" required
                    @click.native="onFocus"
                    ref="fileTextField">
            </v-text-field>
            <input
                    type="file" accept="accept"
                    ref="fileInput" @change="onFileChange"
                    style="display:none">
        </span>
        <span v-if="fileOrigin === 'URL'">
            <v-text-field label="URL" v-model="fileUrl"></v-text-field>
        </span>
    </v-card-text>
    <v-card-title>
        <span class="subheading">Add labels</span>
    </v-card-title>
    <v-layout v-for="(_, i) in labels">
        <v-flex xs10>
            <v-card-text class="pt-1 pb-1 pr-0">
                <v-text-field
                        v-model="labels[i]">
                </v-text-field>
            </v-card-text>
        </v-flex>
        <v-flex xs1>
            <v-btn icon
                   class="mt-3"
                   @click.stop="removeLabel(i)">
                <v-icon>remove_circle</v-icon>
            </v-btn>
        </v-flex>
    </v-layout>
    <v-btn icon
           @click.stop="addEmptyLabel"
           class="mt-1">
        <v-icon>add_circle</v-icon>
    </v-btn>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn secondary flat v-on:click="cancel">Cancel</v-btn>
        <v-btn secondary @click.native="addFile">Upload</v-btn>
    </v-card-actions>
</v-card>
