<v-card>
    <v-card-title>
        <v-progress-linear v-bind:indeterminate="true" v-show="progress" ></v-progress-linear>
        <span class="headline">Create a context</span>
    </v-card-title>
    <v-card-text>
        <v-container grid-list-md>
            <v-layout wrap>
                <v-flex xs12 sm6 md4>
                    <v-text-field label="Image" required v-model="context_image"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                    <v-text-field label="Comma-separated ports" required v-model="context_ports"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                    <v-select
                            v-model="context_notebook"
                            v-bind:items="notebooks"
                            label="Add notebook input"
                            autocomplete>
                    </v-select>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container grid-list-md >
            <v-layout wrap v-for="(_, i) in inputSlotNames">
                <v-flex xs12 sm6>
                    <v-text-field  label="Add input slot" v-model="inputSlotNames[i]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-select
                        v-model="inputSlotFiles[i]"
                        v-bind:items="files"
                        label="Select default"
                        autocomplete>
                    </v-select>
                </v-flex>
            </v-layout>
            <v-layout wrap v-for="(_, i) in outputSlotNames">
                <v-flex xs12 sm6>
                    <v-text-field  label="Add output slot" v-model="outputSlotNames[i]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-select
                            v-model="outputSlotFiles[i]"
                            v-bind:items="files"
                            label="Select default"
                            autocomplete>
                    </v-select>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card-text>
    <v-card-title>
        <span class="subheading">Add labels</span>
    </v-card-title>
    <v-layout v-for="(_, i) in labels">
        <v-flex xs10>
            <v-card-text class="pt-1 pb-1 pr-0">
                <v-text-field
                        v-model="labels[i]">
                </v-text-field>
            </v-card-text>
        </v-flex>
        <v-flex xs1>
            <v-btn icon
                   class="mt-3"
                   @click.stop="removeLabel(i)">
                <v-icon>remove_circle</v-icon>
            </v-btn>
        </v-flex>
    </v-layout>
    <v-btn icon
           @click.stop="addEmptyLabel"
           class="mt-1">
        <v-icon>add_circle</v-icon>
    </v-btn>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn secondary flat v-on:click="cancel">Cancel</v-btn>
        <v-btn secondary v-on:click="addContext">Add</v-btn>
    </v-card-actions>
</v-card>
