<v-card>
    <v-card-title>
        <v-progress-linear v-bind:indeterminate="true" v-show="progress" ></v-progress-linear>
        <span class="headline">Start an Execution</span>
    </v-card-title>
    <v-card-text>
        <v-select label="Engine" required :items="['docker', 'k8s']" v-model="engine"></v-select>
        <v-text-field label="Namespace" required v-model="namespace"></v-text-field>
    </v-card-text>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn secondary flat v-on:click="closeDialog">Cancel</v-btn>
        <v-btn secondary v-on:click="addExec">Start</v-btn>
    </v-card-actions>
</v-card>
