<v-card>
    <v-card-title>
        <v-progress-linear v-bind:indeterminate="true" v-show="progress" ></v-progress-linear>
        <span class="headline">Labels for {{selectedFile.name}}</span>
    </v-card-title>
    <v-layout v-for="(_, i) in labels">
        <v-flex xs10>
            <v-card-text class="pt-1 pb-1 pr-0">
                <v-text-field
                        v-model="labels[i]">
                </v-text-field>
            </v-card-text>
        </v-flex>
        <v-flex xs1>
            <v-btn icon
                   class="mt-3"
                   @click.stop="removeLabel(i)">
                <v-icon>remove_circle</v-icon>
            </v-btn>
        </v-flex>
    </v-layout>
    <v-btn icon
            @click.stop="addEmptyLabel"
            class="mt-1">
        <v-icon>add_circle</v-icon>
    </v-btn>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn secondary flat v-on:click="cancel">Cancel</v-btn>
        <v-btn secondary @click.native="updateLabels">OK</v-btn>
    </v-card-actions>
</v-card>
