<v-card>
    <v-card-title>
        <v-progress-linear v-bind:indeterminate="true" v-show="progress" ></v-progress-linear>
        <span class="headline">Upload a file version</span>
    </v-card-title>
    <v-card-text>
        <v-btn-toggle v-model="fileOrigin">
            <v-btn flat value="local">
                Local File
            </v-btn>
            <v-btn flat value="URL">
                File from URL
            </v-btn>
        </v-btn-toggle>
        <span v-if="fileOrigin === 'local'">
        <v-text-field prepend-icon="attach_file" single-line
                      :label="displayFilename" required
                      @click.native="onFocus"
                      ref="fileTextField"></v-text-field>
        <input type="file" accept="accept" ref="fileInput" @change="onFileChange" style="display:none">
        </span>
        <span v-if="fileOrigin === 'URL'">
            <v-text-field label="URL" v-model="fileUrl"></v-text-field>
        </span>
    </v-card-text>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn secondary flat v-on:click="cancel">Cancel</v-btn>
        <v-btn secondary @click.native="addFileVersion">Upload</v-btn>
    </v-card-actions>
</v-card>
