@import "/src/styles/bootstrap/_custom_bootstrap_variables.scss";

/* .template-card:hover {
  box-shadow: 0 0 0 1px var(--bs-rk-green), var(--rk-box-shadow);
  border-color: var(--bs-rk-green);
}

.template--invalid {
  border-color: var(--bs-danger);
}

.template--disabled {
  opacity: 0.5;
}

.template--active:hover {
  border-color: var(--bs-rk-green);
}

.template--active:hover .card-footer {
  border-color: var(--bs-rk-green);
  color: var(--bs-rk-green);
  background-color: white;
}

.template--active.selected {
  box-shadow: 0 0 0 2px var(--bs-rk-green), var(--rk-box-shadow);
  border-color: var(--bs-rk-green);
  color: var(--bs-rk-green);
}

.template-card img {
  height: 60px;
}

.template-card .card-footer {
  border-radius: 0 0 8px 8px;
} */

.templateCard {
  &:hover {
    background-color: $rk-green-highlight;
    border-color: $rk-green-highlight !important;

    .templateCardBottom {
      background-color: unset !important;
      border-color: $rk-green-highlight !important;
      color: white;
    }

    .templateCardDefault {
      display: none;
    }
    .templateCardHover {
      display: block;
    }
  }

  .templateCardHover {
    display: none;
  }
}
