@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

@include color-mode("navy") {
  --#{$prefix}body-color: var(--#{$prefix}white);
  --#{$prefix}body-color-rgb: #{to-rgb($white)};
  --#{$prefix}body-bg: var(--#{$prefix}navy);
  --#{$prefix}body-bg-rgb: #{to-rgb($navy)};

  .navbar {
    --#{$prefix}navbar-color: var(--#{$prefix}gray-400);
    --#{$prefix}navbar-active-color: var(--#{$prefix}white);
    --#{$prefix}navbar-hover-color: var(--#{$prefix}white);
  }

  .dropdown-menu {
    --#{$prefix}dropdown-border-color: var(--#{$prefix}gray-800);
    --#{$prefix}dropdown-divider-bg: var(--#{$prefix}gray-800);
    --#{$prefix}dropdown-bg: var(--#{$prefix}navy);
    --#{$prefix}dropdown-link-color: var(--#{$prefix}gray-400);
    --#{$prefix}dropdown-link-hover-color: var(--#{$prefix}white);
    --#{$prefix}dropdown-link-hover-bg: var(--#{$prefix}gray-800);
    --#{$prefix}dropdown-link-active-color: var(--#{$prefix}white);
    --#{$prefix}dropdown-link-active-bg: var(--#{$prefix}navy);
    --#{$prefix}dropdown-link-disabled-color: var(--#{$prefix}gray-600);
  }
}
