.inactive-kg-projects-table th {
    font-weight: normal;
    vertical-align: middle;
}

.inactive-kg-projects-table td {
    vertical-align: middle;
}

.inactive-kg-projects-table thead th {
    border-color: white;
}

.inactive-kg-projects-table tr:hover {
    background-color: var(--bs-rk-background-0);
}

.activationHeader {
    font-size: 27px;
}
