/* Prevent overwriting defaults: https://fkhadra.github.io/react-toastify/how-to-style */
.Toastify__toast {
  font-family: inherit !important;
  cursor: inherit !important;
}

.Toastify__toast--default {
  color: inherit !important;
}

.Toastify__toast-container {
  color: inherit !important;
}


/* Customization */

.Toastify__toast {
  width: 350px;
  max-width: 100%;
  font-size: .875rem;
  pointer-events: auto;
  background-color: rgba(255,255,255,1) !important;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%); 
  border-radius: .25rem;
  padding: 0px !important;
}

.Toastify__close-button{
  display: none;
}

.Toastify__toast .Toastify__progress-bar {
  background: unset;
}

/* Notification components */

.notification-badge {
  font-size: 10px;
  position: absolute;
}

.notification.info svg.svg-inline--fa.color {
  color: #5561A6
}
.notification.success svg.svg-inline--fa.color {
  color: #009568
}
.notification.warning svg.svg-inline--fa.color {
  color: #ffc107
}
.notification.error svg.svg-inline--fa.color {
  color: #dc3545
}
.notification.read svg.svg-inline--fa.color {
  color: rgba(0, 0, 0, 0.5)
}

.notification-menu {
  width: 300px;
}

.notification-menu > a {
  text-decoration: none;
} 

.notification-list-container {
  width:300px;
  padding: 0;
  margin-bottom: -8px;
}

.notification-list-item {
  font-size: 80%;
  padding: 10px;
  position: relative;
}

.notification-list-item:first-of-type{
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.notification-list-item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.notification-list-item .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.notification-list-item p {
  margin-bottom: 4px;
}

.notification-list-item h5 {
  margin-bottom: 4px;
  font-size: 120%;
}

.notification-page-item > .notification {
  max-width: 1140px;
  width: 100%;
}

.cursor-default {
  cursor: default;
}
