/* Prevent overwriting defaults: https://fkhadra.github.io/react-toastify/how-to-style */
.Toastify__toast {
  font-family: inherit !important;
  cursor: inherit !important;
}

.Toastify__toast--default {
  color: inherit !important;
}

.Toastify__toast-container {
  color: inherit !important;
}


/* Customization */

.Toastify__toast {
  opacity: 0.90;
}

.Toastify__toast.success {
  border: 1px solid #28a745 /* #5561A6 */
}
.Toastify__toast.success .Toastify__progress-bar {
  background: #28a745;
}
.Toastify__toast.success svg.svg-inline--fa {
  color: #28a745
}

.Toastify__toast.warning {
  border: 1px solid #ffc107
}
.Toastify__toast.warning .Toastify__progress-bar {
  background: #ffc107;
}
.Toastify__toast.warning svg.svg-inline--fa {
  color: #ffc107
}

.Toastify__toast.error {
  border: 1px solid #dc3545
}
.Toastify__toast.error .Toastify__progress-bar {
  background: #dc3545;
}
.Toastify__toast.error svg.svg-inline--fa {
  color: #dc3545
}


/* Notification components */

.notification-badge {
  font-size: 10px;
  position: absolute;
}

.notification.info svg.svg-inline--fa.color {
  color: #5561A6
}
.notification.success svg.svg-inline--fa.color {
  color: #28a745
}
.notification.warning svg.svg-inline--fa.color {
  color: #ffc107
}
.notification.error svg.svg-inline--fa.color {
  color: #dc3545
}
.notification.read svg.svg-inline--fa.color {
  color: rgba(0, 0, 0, 0.5)
}

/* .notification-menu {
  width: 250px;
}
*/

.notification-menu > a {
  text-decoration: none;
} 

.notification-list-container {
  padding: 0;
  margin-top: -8px;
  margin-bottom: -8px;
}

.notification-list-item {
  font-size: 80%;
  padding: 8px;
  position: relative;
}

.notification-list-item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.notification-list-item .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.notification-list-item p {
  margin-bottom: 4px;
}

.notification-list-item h5 {
  margin-bottom: 4px;
  font-size: 120%;
}

.notification-page-item > .notification {
  max-width: 1140px;
  width: 100%;
}

.cursor-default {
  cursor: default;
}
