name: Acceptance tests

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - closed
    paths:
      - client/**
      - server/**
      - helm-chart/**
      - .github/workflows/**
      - chartpress.yaml

jobs:
  cleanup-previous-runs:
    runs-on: ubuntu-22.04
    if: github.event.action != 'closed'
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@v0.3.3
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  check-deploy:
    runs-on: ubuntu-22.04
    outputs:
      pr-contains-string: ${{ steps.deploy-comment.outputs.pr-contains-string }}
      renku: ${{ steps.deploy-comment.outputs.renku}}
      renku-core: ${{ steps.deploy-comment.outputs.renku-core}}
      renku-gateway: ${{ steps.deploy-comment.outputs.renku-gateway}}
      renku-graph: ${{ steps.deploy-comment.outputs.renku-graph}}
      renku-notebooks: ${{ steps.deploy-comment.outputs.renku-notebooks}}
      test-enabled: ${{ steps.deploy-comment.outputs.test-enabled}}
      persist: ${{ steps.deploy-comment.outputs.persist}}
      extra-values: ${{ steps.deploy-comment.outputs.extra-values}}
    steps:
      - id: deploy-comment
        uses: SwissDataScienceCenter/renku-actions/check-pr-description@v1.4.1
        with:
          string: /deploy
          pr_ref: ${{ github.event.number }}

  deploy-pr:
    needs: [check-deploy, cleanup-previous-runs]
    if: github.event.action != 'closed' && needs.check-deploy.outputs.pr-contains-string == 'true'
    runs-on: ubuntu-22.04
    environment:
      name: renku-ci-ui-${{ github.event.number }}
    steps:
      - uses: actions/checkout@v2
      - name: Find deplyoment url
        uses: peter-evans/find-comment@v1
        id: deploymentUrlMessage
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "RenkuBot"
          body-includes: "You can access the deployment of this PR at"
      - name: Create comment deployment url
        if: steps.deploymentUrlMessage.outputs.comment-id == 0
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.RENKUBOT_GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            You can access the deployment of this PR at https://renku-ci-ui-${{ github.event.number }}.dev.renku.ch
      - name: Build and deploy
        uses: SwissDataScienceCenter/renku-actions/deploy-renku@v1.4.1
        env:
          RANCHER_PROJECT_ID: ${{ secrets.CI_RANCHER_PROJECT }}
          DOCKER_PASSWORD: ${{ secrets.RENKU_DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.RENKU_DOCKER_USERNAME }}
          GITLAB_TOKEN: ${{ secrets.DEV_GITLAB_TOKEN }}
          KUBECONFIG: ${{ github.workspace }}/renkubot-kube.config
          RENKU_RELEASE: renku-ci-ui-${{ github.event.number }}
          RENKU_VALUES_FILE: ${{ github.workspace }}/values.yaml
          RENKU_VALUES: ${{ secrets.CI_RENKU_VALUES }}
          RENKUBOT_KUBECONFIG: ${{ secrets.RENKUBOT_DEV_KUBECONFIG }}
          RENKUBOT_RANCHER_BEARER_TOKEN: ${{ secrets.RENKUBOT_RANCHER_BEARER_TOKEN }}
          RANCHER_DEV_API_ENDPOINT: ${{ secrets.RANCHER_DEV_API_ENDPOINT }}
          RENKU_BOT_DEV_PASSWORD: ${{ secrets.RENKU_BOT_DEV_PASSWORD }}
          RENKU_TESTS_ENABLED: true
          TEST_ARTIFACTS_PATH: "tests-artifacts-${{ github.sha }}"
          renku_ui: "@${{ github.head_ref }}"
          renku: "${{ needs.check-deploy.outputs.renku }}"
          renku_core: "${{ needs.check-deploy.outputs.renku-core }}"
          renku_gateway: "${{ needs.check-deploy.outputs.renku-gateway }}"
          renku_graph: "${{ needs.check-deploy.outputs.renku-graph }}"
          renku_notebooks: "${{ needs.check-deploy.outputs.renku-notebooks }}"
          extra_values: "${{ needs.check-deploy.outputs.extra-values }}"
  run-acceptance-tests:
    needs: [check-deploy, deploy-pr]
    if: github.event.action != 'closed' && needs.check-deploy.outputs.pr-contains-string == 'true' && needs.check-deploy.outputs.test-enabled == 'true'
    runs-on: ubuntu-20.04
    steps:
      - uses: SwissDataScienceCenter/renku-actions/test-renku@v1.4.1
        with:
          kubeconfig: ${{ secrets.RENKUBOT_DEV_KUBECONFIG }}
          renku-release: renku-ci-ui-${{ github.event.number }}
          gitlab-token: ${{ secrets.DEV_GITLAB_TOKEN }}
          persist: "${{ needs.check-deploy.outputs.persist }}"
          s3-results-access-key: ${{ secrets.ACCEPTANCE_TESTS_BUCKET_ACCESS_KEY }}
          s3-results-secret-key: ${{ secrets.ACCEPTANCE_TESTS_BUCKET_SECRET_KEY }}
          test-timeout-mins: "80"

  run-e2e:
    needs: [check-deploy, deploy-pr]
    if: github.event.action != 'closed' && needs.check-deploy.outputs.pr-contains-string == 'true' && needs.check-deploy.outputs.test-enabled == 'true'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v4
        env:
          CYPRESS_BASE_URL: https://renku-ci-ui-${{ github.event.number }}.dev.renku.ch/
          GITLAB_TOKEN: ${{ secrets.DEV_GITLAB_TOKEN }}
          CYPRESS_USER: ${{ secrets.CYPRESS_USER }}
        with:
          browser: chrome
          working-directory: e2e
        # Cypress screenshots will be generated only if the test failed, thus we store screenshots only on failures
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: e2e/cypress/screenshots
          retention-days: 7
      # Cypress test video is always captured, so this action uses "always()" condition
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-videos
          path: e2e/cypress/videos
          retention-days: 3

  cleanup:
    needs: check-deploy
    if: github.event.action == 'closed' && needs.check-deploy.outputs.pr-contains-string == 'true'
    runs-on: ubuntu-22.04
    steps:
      - name: Find deplyoment url
        uses: peter-evans/find-comment@v1
        id: deploymentUrlMessage
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "RenkuBot"
          body-includes: "Tearing down the temporary RenkuLab deplyoment"
      - name: Create comment deployment url
        if: steps.deploymentUrlMessage.outputs.comment-id == 0
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.RENKUBOT_GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Tearing down the temporary RenkuLab deplyoment for this PR.
      - name: renku teardown
        uses: SwissDataScienceCenter/renku-actions/cleanup-renku-ci-deployments@v1.4.1
        env:
          HELM_RELEASE_REGEX: "^renku-ci-ui-${{ github.event.number }}$"
          GITLAB_TOKEN: ${{ secrets.DEV_GITLAB_TOKEN }}
          RENKUBOT_KUBECONFIG: ${{ secrets.RENKUBOT_DEV_KUBECONFIG }}
          MAX_AGE_SECONDS: 0
          DELETE_NAMESPACE: "true"
