name: Cleanup old deployments

on:
  workflow_dispatch:

jobs:
  cleanup-old-deployments-from-github:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/github-script@v8
        with:
          script: |
            const script = require('./.github/workflows/cleanup-old-deployments.js')
            await script({ core, github })
