@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

.control {
  background: var(--bs-rk-white);
  --bs-border-color: var(--bs-rk-border-input);

  cursor: pointer !important;

  &:hover {
    --bs-border-color: var(--bs-rk-green);
  }

  &IsOpen {
    --bs-border-color: var(--bs-rk-green);
  }
}

.groupHeading {
  font-size: 0.8rem;
  color: var(--bs-rk-text-light);
}

.menu {
  background: var(--bs-rk-white);
  --bs-border-color: var(--bs-rk-green);
  z-index: 10 !important;
}

.option,
.singleValue {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: start;

  @include media-breakpoint-up(sm) {
    grid-template-columns:
      minmax(min-content, 3fr)
      repeat(4, minmax(min-content, 6ch));
    justify-items: end;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns:
      minmax(min-content, 3fr)
      repeat(4, minmax(min-content, 8ch));
  }

  & .label {
    justify-self: start;

    grid-column: 1 / -1;

    @include media-breakpoint-up(sm) {
      grid-column: auto;
    }
  }

  & .detail {
    font-size: smaller;

    @include media-breakpoint-up(sm) {
      font-size: medium;
      width: 100%;
    }
  }

  & .detailLabel {
    color: var(--bs-rk-text-light);
  }
}

.option {
  cursor: pointer !important;

  border-bottom: 1px dotted #a3a3a3;
  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background-color: #e4e7ea;
  }

  &IsSelected {
    background-color: #e4e7ea80;
  }
}
