.dropdown {
  :global .btn.dropdown-toggle {
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: bold;

    &::after {
      margin-left: 6px;
    }
  }

  :global .dropdown-menu {
    padding: 0;
    border: 0;
    background: transparent;

    :global .btn {
      border: 1px solid var(--accent-color);
      border-radius: unset;
      background: white;
      text-align: center;

      &.active {
        font-weight: bold;
      }
    }
  }
}