@import "/src/styles/bootstrap/_custom_bootstrap_variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

.environmentLabel {
  &:hover {
    .environmentCard {
      border: solid 2px $rk-green-highlight !important;
    }
  }

  input:focus-visible + & {
    box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0)
      var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width)
      var(--bs-focus-ring-color);
  }
}
